body {
  width: 1920px;
  margin: 0 auto;
  padding: 0;
}
.header {
  background-image: url(../img/bgr-image-top.png);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  padding: 40px 150px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top {
  padding: 0 222px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: 'raleway';
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 34px;
  font-weight: 400;
  color: #fff;
}
.logo #logo {
  fill: #fff;
}
.logo:hover .waxom,
.logo:hover #logo {
  fill: #c7b299;
  color: #c7b299;
  transition: 0.8s;
}
.logo:active .waxom,
.logo:active #logo {
  fill: #fff;
  color: #fff;
  transition: 0.5s;
}
.waxom {
  font-family: 'raleway';
  font-size: 34px;
  line-height: 34px;
  font-weight: 400;
  color: #fff;
}
.nav_list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.nav_link {
  text-decoration: none;
  font-family: 'montserrat';
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: #fff;
}
.nav_item {
  display: block;
  margin-right: 20px;
}
.nav_item:nth-child(8) {
  margin-right: 60px;
}
.nav_item:last-child {
  margin-right: 0;
}
.nav_item a:hover {
  color: #c7b299;
}
.nav_item a:active {
  color: #fff;
}
.box {
  padding: 0;
  outline: none;
  background-image: url(../img/icon_box.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 24px;
  background-color: transparent;
  border: none;
}
.search {
  outline: none;
  background-image: url(../img/icon_search.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: relative;
}
.search:focus-within form .place {
  display: block;
}
.place {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  width: 300px;
  border-radius: 10px;
  color: #fff;
  outline: none;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #fff;
}
.center_header {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 643px 20px;
  grid-template-areas: "button-left header_text button-rigth" ". radio_button .";
}
.button-left {
  grid-area: button-left;
  align-self: center;
  background-image: url(../img/left.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 93px;
  background-position: center;
}
.button-left:hover {
  background-image: url(../img/right.png);
  transform: rotate(180deg);
  box-shadow: 0 0 7px 1px #000;
  border-radius: 3px;
}
.button-left:active {
  box-shadow: inset 0 0 15px 1px #000;
}
.button-rigth {
  grid-area: button-rigth;
  align-self: center;
  justify-self: end;
  background-image: url(../img/left.png);
  transform: rotate(180deg);
  background-repeat: no-repeat;
  width: 60px;
  height: 93px;
  background-position: center;
}
.button-rigth:hover {
  background-image: url(../img/right.png);
  transform: rotate(0deg);
  box-shadow: 0 0 7px 1px #000;
  border-radius: 3px;
}
.button-rigth:active {
  box-shadow: inset 0 0 15px 1px #000;
}
.header_text {
  grid-area: header_text;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.radio_button {
  grid-area: radio_button;
  display: flex;
  justify-content: center;
}
.h2_center {
  font-family: 'raleway';
  font-size: 35px;
  line-height: 35px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 14px;
  min-width: 0;
}
.h1_center {
  font-family: 'raleway';
  font-size: 52px;
  line-height: 52px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 19px;
}
.p_center {
  margin: 0 0 52px 0;
  font-family: 'montserrat';
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #fff;
  max-width: 562px;
  text-align: center;
}
.button_center {
  padding: 21px 37px;
  background-color: #998675;
  border-radius: 3px;
  font-family: 'raleway';
  font-size: 14px;
  min-width: 170px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
.button_center:hover {
  box-shadow: 0 0 10px 5px #000;
  transition: 0.8s;
}
.button_center:active {
  box-shadow: none;
}
input[type="radio"] {
  display: none;
}
.radio_item {
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.3;
  margin: 0 10px 0 0;
}
.radio_item:last-child {
  margin: 0;
}
.radio_item:hover {
  box-shadow: 0 0 0 2px #fff;
  border-radius: 50%;
  background-color: transparent;
  opacity: 1;
}
.radio_item:active {
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.3;
}
.direction {
  margin: 0;
  padding: 80px 0;
  display: flex;
  justify-content: center;
}
.direction_item {
  margin: 0 33px 0 0;
  box-shadow: 0px 88px 0 -85px #555555;
  display: flex;
  flex-direction: column;
  max-width: 266px;
  align-items: center;
}
.direction_item:last-child {
  margin: 0;
}
.direction_item .direction_image {
  fill: #555555;
}
.direction_item:hover,
.direction_item:hover span,
.direction_item:hover p,
.direction_item:hover path,
.direction_item:hover h3 {
  color: #c7b299;
  fill: #c7b299;
  box-shadow: 0px 88px 0 -85px #c7b299;
}
.direction_item:active,
.direction_item:active span,
.direction_item:active p,
.direction_item:active path,
.direction_item:active h3 {
  color: #555555;
  fill: #555555;
  box-shadow: 0px 88px 0 -85px #555555;
}
.direction_item_h3 {
  margin: 29px 0 19px 0;
  font-family: 'raleway';
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  color: #555555;
}
.direction_item_p {
  margin: 0 0 33px 0;
  padding: 0;
  font-family: 'montserrat';
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center;
}
.realization_idea {
  background-color: #fbfaf8;
  margin: 0;
  padding: 83px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.realization_idea_h1 {
  margin: 0;
  font-family: 'raleway';
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: #555555;
}
.realization_idea_p {
  margin: 24px 0 40px 0;
  font-family: 'montserrat';
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  max-width: 757px;
  text-align: center;
}
.realization_image {
  position: relative;
  display: flex;
  margin-top: 82px;
}
.left {
  width: 770px;
  height: 400px;
  background-image: url(../img/browser_left.jpg);
}
.left:hover {
  z-index: 2;
  transition: 1s;
  transform: scaleY(1.2) scaleX(1.08) translateY(-33px);
}
.center {
  position: absolute;
  left: calc(50% - 385px);
  right: auto;
  bottom: 0;
  width: 770px;
  height: 482px;
  background-image: url(../img/browser_center.jpg);
}
.right {
  width: 770px;
  height: 400px;
  background-image: url(../img/browser_right.jpg);
}
.right:hover {
  z-index: 2;
  transition: 1s;
  transform: scaleY(1.2) scaleX(1.08) translateY(-33px);
}
.forget {
  padding: 48px 376px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}
.forget_text {
  display: flex;
  flex-direction: column;
}
.forget_h2 {
  font-family: 'raleway';
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}
.one_h2 {
  font-family: 'raleway';
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #c7b299;
}
.forget_p {
  margin: 0;
  font-family: 'montserrat';
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
}
.forget_button {
  padding: 20px 29px;
  background-color: #998675;
  border-radius: 3px;
  font-family: 'raleway';
  font-size: 14px;
  line-height: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  outline: none;
}
.forget_button:hover {
  box-shadow: 0 0 10px 5px #000;
  transition: 0.5s;
  cursor: pointer;
}
.forget_button:active {
  box-shadow: none;
}
.latest {
  display: flex;
  flex-direction: column;
  padding: 81px 0;
  justify-content: space-between;
  align-items: center;
}
.latest_h1 {
  margin: 0;
  font-family: 'raleway';
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: #555555;
}
.latest_p {
  margin: 24px 0 0 0;
  font-family: 'montserrat';
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  max-width: 757px;
  text-align: center;
}
.latest_list {
  display: flex;
  margin: 0;
  padding: 0;
  margin: 40px 0;
}
.latest_item {
  font-family: 'montserrat';
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 10px 25px;
  margin-right: 10px;
  outline: none;
}
.latest_item:last-child {
  margin-right: 0;
}
.latest_item:hover {
  background-color: #998675;
  color: #ffffff;
  transition: 1s;
}
.latest_item:active {
  background-color: #fff;
  color: #8c8c8c;
}
.article {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  box-sizing: border-box;
}
.article_item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 30px 30px 0;
  z-index: 3;
}
.article_item:nth-child(n+4) {
  margin-bottom: 0;
}
.article_item:nth-child(3n+3) {
  margin-right: 0;
}
.article_item:hover .article_text {
  background-color: #362f2d;
  transition: 1s;
}
.article_item:hover .article_text:before {
  border-bottom: 10px solid #362f2d;
  transition: 1s;
}
.article_item:hover .article_button {
  display: flex;
  transition: 1s;
}
.article_item:hover .article_image {
  filter: brightness(40%);
  transition: 1s;
}
.article_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100px;
  background-color: #fbfaf8;
  position: relative;
  padding-left: 29px;
  box-sizing: border-box;
}
.article_text:before {
  position: absolute;
  z-index: 3;
  width: 0;
  height: 0;
  left: 15px;
  bottom: 100%;
  content: "";
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
}
.article_h3 {
  font-family: 'raleway';
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #c7b299;
}
.article_p {
  margin: 0;
  font-family: 'montserrat';
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
}
.article_button {
  position: absolute;
  top: calc(237px/2 - 26px);
  left: calc(50% - 39px);
  display: none;
}
.article_share {
  display: block;
  background-image: url(../img/share.png);
  width: 26px;
  height: 26px;
  z-index: 3;
  margin-right: 26px;
}
.article_share:hover {
  filter: sepia(100%) hue-rotate(310deg) saturate(900%);
}
.article_share:active {
  filter: none;
}
.article_lupa {
  display: block;
  background-image: url(../img/lupa.png);
  width: 26px;
  height: 26px;
  z-index: 3;
}
.article_lupa:hover {
  filter: sepia(100%) hue-rotate(310deg) saturate(900%);
}
.article_lupa:active {
  filter: none;
}
.latest_button {
  text-decoration: none;
  margin-top: 40px;
  background-color: #998675;
  border-radius: 3px;
  padding: 19px 44px;
  font-family: 'raleway';
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}
.latest_button:hover {
  background-color: #fff;
  box-shadow: 0 0 0 1px #555555;
  color: #000;
  transition: 0.8s;
}
.latest_button:active {
  background-color: #998675;
  color: #ffffff;
}
.video_bgr {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  height: 705px;
}
.video_content_top {
  position: absolute;
  top: calc(50% - 144px);
  left: calc(50% - 276px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video_play {
  outline: none;
  padding: 0;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: none;
}
.play {
  fill: #fff;
}
.play:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.play:active {
  opacity: 1;
}
.video_h1 {
  margin: 44px 0 0 0;
  font-family: 'raleway';
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  color: #ffffff;
}
.video_p {
  max-width: 552px;
  text-align: center;
  font-family: 'montserrat';
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  margin: 29px 0 40px 0;
}
.video_time {
  font-family: 'montserrat';
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #c7b299;
}
.modile_device {
  background-color: #fbfaf8;
  display: flex;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.image_left_hand {
  width: 423px;
  height: 616px;
  background-image: url(../img/iphone_in_hand.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 79px 0 0 0;
}
.modile_device_content {
  max-width: 660px;
  margin: 195px 0 0 0;
  display: flex;
  flex-direction: column;
}
.mobile_device_h1 {
  margin: 0;
  font-family: 'raleway';
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: #555555;
}
.modile_device_span {
  margin: 40px 0 45px 0;
  font-family: 'montserrat';
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: inherit;
}
.modile_device_list {
  margin: 0 0 0 50px;
}
.modile_device_item {
  display: block;
  float: left;
  outline: none;
  background-image: url(../img/modile_device.png);
  width: 21px;
  height: 21px;
  margin: 0 0 12px 0;
}
.modile_device_item::-webkit-details-marker {
  display: none;
}
.modile_device_item:last-child {
  margin: 0;
}
.modile_device_span_item {
  margin-left: 29px;
  font-family: 'montserrat';
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  color: #8c8c8c;
}
.statistics {
  margin: 0;
  padding: 69px 0 60px 0;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}
.statistics_item {
  width: 138px;
  margin-right: 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 56px 0 -52px #fff;
}
.statistics_item:last-child {
  margin-right: 0;
}
.statistics_item:hover {
  box-shadow: 0 56px 0 -52px #c7b299;
}
.statistics_item:hover .icon_statistics {
  fill: #fff;
}
.statistics_item:hover .statistics_number {
  color: #c7b299;
}
.statistics_item:hover .statistics_name {
  color: #fff;
}
.statistics_item:active {
  box-shadow: 0 56px 0 -52px #fff;
}
.statistics_item:active .icon_statistics {
  fill: #c7b299;
}
.statistics_item:active .statistics_number {
  color: #fff;
}
.statistics_item:active .statistics_name {
  color: #c7b299;
}
.icon_statistics {
  fill: #c7b299;
}
.statistics_number {
  margin: 30px 0 21px 0;
  font-family: 'montserrat';
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #fff;
}
.statistics_name {
  margin-bottom: 30px;
  font-family: 'montserrat';
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7b299;
  text-align: center;
}
.recent_posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 80px 0;
}
.recent_posts_h1 {
  margin: 0;
  font-family: 'raleway';
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}
.recent_post_p {
  margin: 30px 0 40px 0;
  font-family: 'montserrat';
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  max-width: 757px;
  text-align: center;
}
.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 22px;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
}
.posts_item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.posts_item:hover .post_content {
  background-color: #362f2d;
  box-shadow: inset 0 0 0 2px #362f2d;
  transition: 0.8s;
}
.posts_item:hover .post_h1 {
  color: #c7b299;
  transition: 0.8s;
}
.posts_item:hover .post_p {
  color: #fff;
  transition: 0.8s;
}
.posts_item:hover .post_image {
  display: flex;
  z-index: 2;
  filter: brightness(40%);
  transition: 0.8s;
}
.posts_item:hover .date_number {
  z-index: 3;
  background-color: #c7b299;
  transition: 0.8s;
}
.posts_item:hover .date_month {
  z-index: 3;
  background-color: #a48d72;
  transition: 0.8s;
}
.posts_item:active {
  box-shadow: 0 0 5px 1px #000;
}
.post_content {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 30px 0 33px 29px;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px #f8f8f8;
}
.post_h1 {
  font-family: 'raleway';
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #555555;
}
.post_p {
  margin: 19px 0 27px 0;
  font-family: 'montserrat';
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8c8c8c;
  max-width: 297px;
}
.post_link {
  text-decoration: none;
  font-family: 'montserrat';
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
}
.post_link:hover {
  color: #fff;
}
.post_link:hover .arrow {
  border-left: 4px solid #fff;
}
.post_link:active {
  color: #c7b299;
}
.post_link:active .arrow {
  border-left: 4px solid #c7b299;
}
.post_date {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date_number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 35px;
  background-color: #363636;
  border-radius: 3px 3px 0 0;
  font-family: 'montserrat';
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #fff;
}
.date_month {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 25px;
  border-radius: 0 0 3px 3px;
  background-color: #252525;
  font-family: Roboto;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
}
.arrow {
  display: inline-flex;
  border-top: 4px solid transparent;
  border-left: 4px solid #c7b299;
  border-bottom: 5px solid transparent;
  margin-left: 9px;
}
.post_page {
  grid-column-start: 2;
  text-align: center;
}
.page_left {
  text-decoration: none;
}
.arrow_left_right {
  fill: #d1d1d1;
}
.arrow_left_right:hover {
  fill: #c7b299;
}
.arrow_left_right:active {
  fill: #211b19;
}
.partner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 489px;
  background-image: url(../img/bg_photo_partner.png);
}
.partner_link {
  margin-right: 90px;
}
.partner_link:last-child {
  margin-right: 0;
}
.partner_link:hover {
  opacity: 0.3;
}
.partner_link:active {
  opacity: 1;
}
.data_website {
  margin: 0;
  padding: 80px 0 80px 0;
  background-color: #191919;
  display: flex;
  justify-content: center;
}
.about_waxon {
  display: flex;
  flex-direction: column;
}
.h1 {
  display: flex;
  align-items: center;
}
#logo_bottom {
  fill: #fff;
}
.about_h1 {
  font-family: 'raleway';
  font-size: 34px;
  line-height: 34px;
  font-weight: 400;
  color: #fff;
}
.about_waxom_p {
  margin: 29px 0 33px 0;
  font-family: 'montserrat';
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #fff;
  max-width: 258px;
}
.about_link {
  text-decoration: none;
  font-family: 'montserrat';
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #d1d1d1;
}
.about_link:hover {
  color: #c7b299;
}
.about_link:hover .about_arrow {
  border-left: 4px solid #c7b299;
}
.about_link:active {
  color: #d1d1d1;
}
.about_link:active .about_arrow {
  border-left: 4px solid #d1d1d1;
}
.about_arrow {
  display: inline-flex;
  border-top: 4px solid transparent;
  border-left: 4px solid #fff;
  border-bottom: 5px solid transparent;
  margin-left: 9px;
}
.data_website {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-column-gap: 42px;
}
.post_waxom {
  display: flex;
  flex-direction: column;
}
.post_h3 {
  font-family: 'raleway';
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  margin: 20px 0 33px 0;
}
.post_waxom_date {
  font-family: 'montserrat';
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
}
.post_waxom_text {
  font-family: 'montserrat';
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  margin: 10px 0 21px 0;
}
.post_waxom_item {
  border-bottom: 1px solid #252525;
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
}
.post_waxom_item:last-child {
  margin: 0;
  border-bottom: none;
}
.post_waxom_item:hover .post_waxom_date {
  color: #fff;
}
.post_waxom_item:hover .post_waxom_text {
  color: #c7b299;
}
.our_twitter {
  font-family: 'raleway';
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
}
.our_twitter_item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #252525;
  margin-bottom: 19px;
}
.our_twitter_item:last-child {
  margin: 0;
  border-bottom: none;
}
.our_twitter_item:hover .our_twitter_date {
  color: #fff;
}
.our_twitter_item:hover .our_twiter_text {
  color: #c7b299;
}
.our_twitter_date {
  font-family: 'montserrat';
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
  margin: 11px 0 20px 0;
}
.our_twiter_text {
  font-family: 'montserrat';
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}
.min_link {
  color: #00bff3;
}
.min_text {
  color: #959595;
}
.our_twitter_h3 {
  font-family: 'raleway';
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  margin: 20px 0 33px 0;
}
.also_website {
  display: flex;
  flex-direction: column;
}
.also_website_h3 {
  margin: 20px 0 33px 0;
  font-family: 'raleway';
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
}
.also_website_block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.also_website_link:hover {
  opacity: 0.7;
}
.also_website_link:active {
  opacity: 1;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 45px 376px 52px 376px ;
  background-color: #111111;
  font-family: 'montserrat';
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}
.footer .footer_left * {
  text-decoration: none;
  color: #555555;
  border-right: 1px solid #555555;
  padding: 0 5px;
}
.footer .footer_left *:last-child {
  border-right: none;
  padding-right: 0;
}
.footer .footer_left *:nth-child(1) {
  padding-left: 0;
}
.footer .footer_left .min_text {
  color: #959595;
}
.footer .footer_left .FAQ {
  color: #c7b299;
}
.footer .footer_right * {
  text-decoration: none;
  border-right: 1px solid #555555;
  color: #555555;
  padding: 0 5px;
}
.footer .footer_right *:last-child {
  border-right: none;
  padding-right: 0;
}
.footer .footer_right *:nth-child(1) {
  padding-left: 0;
}
.footer .footer_right .min_text {
  color: #959595;
}
