@color: #fff;
@font-face {
	font-family: 'Raleway';
	src: url(../font/11855.ttf);
}

@font-face {
	font-family: 'Montserrat';
	src: url(../font/11952.ttf);
}

body {
	width: 1920px;
	margin: 0 auto;
	padding: 0;
}

.header {
	background-image: url(../img/bgr-image-top.png);
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100%;
	padding: 40px 150px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.top {
	padding: 0 226px;
	display: flex;
	// flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-family: 'Raleway';
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 34px;
	font-weight: 400;
	color: @color;
	& #logo {
		fill:@color;
	}
	&:hover,
	&:hover #logo {
		fill: #c7b299;
		color: #c7b299;
	}
	&:active,
	&:active #logo {
		fill: @color;
		color: @color;
	}
}

.nav_list {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
}

.nav_link {
	text-decoration: none;
	font-family: 'Montserrat';
	font-size: 14px;
	line-height: 14px;
	font-weight: 300;
	color: @color;
}

.nav_item {
	display: block;
	margin-right: 20px;
	&:nth-child(8) {
		margin-right: 60px;
	}
	&:last-child{
		margin-right: 0;
	}
	& a:hover {
		color: #c7b299;
	}
	& a:active {
		color: @color;
	}
}

.box {
	padding: 0;
	outline: none;
	background-image: url(../img/icon_box.png);
	background-repeat: no-repeat;
	width: 18px;
	height: 24px;
	background-color: transparent;
	border: none;
}

.search {
	outline: none;
	background-image: url(../img/icon_search.png);
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	position: relative;
	&:focus-within form .place {
		display: block;
	}
}

.place {
	display: none;
	position: absolute;
	top: 35px;
	right: 0;
	width: 300px;
	border-radius: 10px;
	color: @color;
	outline: none;
	padding: 5px;
	background-color: transparent;
	border: 1px solid @color;
}

.center_header {
	display: grid;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: 643px 20px;
	grid-template-areas: "button-left header_text button-rigth" ". radio_button .";
}

.button-left {
	grid-area: button-left;
	align-self: center;
	background-image: url(../img/left.png);
	background-repeat: no-repeat;
	width: 60px;
	height: 93px;
	background-position: center;
	&:hover {
		background-image: url(../img/right.png);
		transform: rotate(180deg);
		box-shadow: 0 0 7px 1px #000;
		border-radius: 3px;
	}
	&:active {
		box-shadow: inset 0 0 15px 1px #000;
	}
}

.button-rigth {
	grid-area: button-rigth;
	align-self: center;
	justify-self: end;
	background-image: url(../img/left.png);
	transform: rotate(180deg);
	background-repeat: no-repeat;
	width: 60px;
	height: 93px;
	background-position: center;
	&:hover {
		background-image: url(../img/right.png);
		transform: rotate(0deg);
		box-shadow: 0 0 7px 1px #000;
		border-radius: 3px;
	}
	&:active {
		box-shadow: inset 0 0 15px 1px #000;
	}
}

.header_text {
	grid-area: header_text;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.radio_button {
	grid-area: radio_button;
	display: flex;
	justify-content: center;
}

.h2_center {
	font-family: Raleway;
	font-size: 35px;
	line-height: 35px;
	font-weight: 500;
	color: @color;
	margin-bottom: 14px;
	min-width: 0;
}

.h1_center {
	font-family: Raleway;
	font-size: 52px;
	line-height: 52px;
	font-weight: 800;
	color: @color;
	margin-bottom: 19px;
}

.p_center {
	margin: 0 0 52px 0;
	font-family: Montserrat;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	color: @color;
	max-width: 562px;
	text-align: center;
}

.button_center {
	padding: 21px 37px;
	background-color: #998675;
	border-radius: 3.0px;
	font-family: Raleway;
	font-size: 14px;
	min-width: 170px;
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: @color;
	&:hover {
		box-shadow: 0 0 10px 5px #000;
	}
	&:active {
		box-shadow: none;
	}
}

input[type="radio"] {
	display: none;
}

.radio_item {
	display: block;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background-color: @color;
	opacity: 0.3;
	margin: 0 10px 0 0;
	&:last-child {
		margin: 0;
	}
	&:hover {
		box-shadow: 0 0 0 2px @color;
		border-radius: 50%;
		background-color: transparent;
		opacity: 1;
	}
	&:active {
		border-radius: 50%;
		background-color: @color;
		opacity: 0.3;
	}
}

.direction {
	margin: 0;
	padding: 80px 0;
	display: flex;
	justify-content: center;
}

.direction_item {
	margin: 0 33px 0 0;
	box-shadow: 0px 88px 0 -85px #555555;
	display: flex;
	flex-direction: column;
	max-width: 266px;
	align-items: center;
	&:last-child{
		margin: 0;
	}
	& .direction_image{
		fill: #555555;
	}
	&:hover, &:hover span, &:hover p, &:hover path, &:hover h3{
		color: #c7b299;
		fill: #c7b299;
		box-shadow: 0px 88px 0 -85px #c7b299;
	}
	&:active, &:active span, &:active p, &:active path, &:active h3{
		color: #555555;
		fill: #555555;
		box-shadow: 0px 88px 0 -85px #555555;
	}
}

.direction_item_h3 {
	margin: 29px 0 19px 0;
	font-family: Raleway;
	font-size: 22px;
	line-height: 22px;
	font-weight: 600;
	color: #555555;
}

.direction_item_p {
	margin: 0 0 33px 0;
	padding: 0;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: #8c8c8c;
	text-align: center;
}

.realization_idea {
	background-color: #fbfaf8;
	margin: 0;
	padding: 83px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.realization_idea_h1 {
	margin: 0;
	font-family: Raleway;
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	color: #555555;
}

.realization_idea_p {
	margin: 24px 0 40px 0;
	font-family: Montserrat;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
	max-width: 757px;
	text-align: center;
}

.realization_image {
	position: relative;
	display: flex;
	margin-top: 82px;
}

.left {
	width: 770px;
	height: 400px;
	background-image: url(../img/browser_left.jpg);
}

.center {
	position: absolute;
    left: ~"calc(50% - 385px)";
    right: auto;
    bottom: 0;
	width: 770px;
	height: 482px;
	background-image: url(../img/browser_center.jpg);
}

.right {
	width: 770px;
	height: 400px;
	background-image: url(../img/browser_right.jpg);
}

.forget {
	padding: 48px 376px;
	display: flex;
	justify-content: space-between;
	background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}
.forget_text {
	display: flex;
	flex-direction: column;
}

.forget_h2 {
	font-family: Raleway;
	font-size: 28px;
	line-height: 28px;
	font-weight: 400;
	color: @color;
	margin: 0;
}

.one_h2 {
	font-family: Raleway;
	font-size: 28px;
	line-height: 1.2;
	font-weight: 400;
	color: #c7b299;
}

.forget_p {
	margin: 0;
	font-family: Montserrat;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 300;
	color: #615855;
}

.forget_button {
	padding: 20px 29px;
	background-color: #998675;
	border-radius: 3.0px;
	font-family: Raleway;
	font-size: 14px;
	line-height: 14px;
	font-weight: 800;
	text-transform: uppercase;
	color: @color;
	outline: none;
	&:hover {
		box-shadow: 0 0 10px 5px #000;
	}
	&:active {
		box-shadow: none;
	}
}

.latest {
	display: flex;
	flex-direction: column;
	padding: 81px 0;
	justify-content: space-between;
	align-items: center;
}

.latest_h1 {
	margin: 0;
	font-family: Raleway;
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	color: #555555;
}

.latest_p {
	margin: 24px 0 0 0;
	font-family: Montserrat;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
	max-width: 757px;
	text-align: center;
}

.latest_list {
	display: flex;
	margin: 0;
	padding: 0;
	margin: 40px 0;
}

.latest_item {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 21px;
	font-weight: 300;
	color: #8c8c8c;
	background-color: @color;
	border: 1px solid #ebebeb;
	border-radius: 3.0px;
	padding: 10px 25px;
	margin-right: 10px;
	outline: none;
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		background-color: #998675;
		color: #ffffff;
	}
	&:active  {
		background-color: @color;
		color: #8c8c8c;
	}
}

.article {
	display: flex;
	flex-wrap: wrap;
	max-width: 1170px;
	box-sizing: border-box;
}
.article_item {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0 30px 30px 0;
	background-color: #362f2d;
	z-index: 3;
	&:nth-child(n+4){
		margin-bottom: 0;
	}
	&:nth-child(3n+3) {
		margin-right: 0;
	}
	&:hover {
		.article_text {
		background-color: #362f2d;
		}	
		.article_text:before {
		border-bottom: 10px solid  #362f2d;
		}
		.article_button {
			display: flex;
		}
		.article_image {
			display: flex;
			background-color: #362f2d;
			opacity: 0.5;
			z-index: 2;
		}
	}
}

.article_text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	min-height: 100px;
	background-color: #fbfaf8;
	position: relative;
	padding-left: 29px;
	box-sizing: border-box;
}

.article_text:before {
	position: absolute;
	z-index: 3;
	width: 0;
	height: 0;
	left: 15px;
	bottom: 100%;
	content: "";
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 10px solid  #fbfaf8;
}

.article_h3 {
	font-family: Raleway;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
	color: #c7b299;
}

.article_p {
	margin: 0;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #d1d1d1;
}

.article_button {
	position: absolute;
	top:  ~"calc(237px/2 - 26px)";
	left: ~"calc(50% - 39px)";
	display: none;
}

.article_share {
	z-index: 3;
	margin-right: 26px;
	& .share{
		fill: #ffffff;
	}
  	&:hover .share {
	fill: #c7b299;
  } 
}

.article_lupa {
	display: flex;
	z-index: 3;
	& .lupa {
		fill:#ffffff;
	}
	&:hover .lupa {
		fill: #c7b299;
	  } 
}

.latest_button {
	text-decoration: none;
	margin-top: 40px;
	background-color: #998675;
	border-radius: 3.0px;
	padding: 19px 44px;
	font-family: Raleway;
	font-size: 14px;
	line-height: 23px;
	font-weight: 800;
	text-transform: uppercase;
	color: #ffffff;
	&:hover {
		background-color: @color;
		box-shadow: 0 0 0 1px #555555;
		color: #000;
	}
	&:active {
		background-color: #998675;
		color: #ffffff;
	}
}

.video_bgr {
	position: relative;
	margin: 0;
	box-sizing: border-box;
}
.video_player{
	height: 705px;	
}

.video_content_top {
	position: absolute;
	top: ~"calc(50% - 144px)";
	left: ~"calc(50% - 276px)";
	display: flex;
	flex-direction: column;
	align-items: center;
}

.video_play {
	outline: none;
	padding: 0;
	width: 100px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	border: none;
}

.play {
	fill: @color;
	&:hover {
		opacity: 0.5;
	}
	&:active {
		opacity: 1;
	}
}

.video_h1 {
	margin: 44px 0 0 0;
	font-family: Raleway;
	font-size: 30px;
	line-height: 30px;
	font-weight: 500;
	color: #ffffff;
}

.video_p {
	max-width: 552px;
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #ffffff;
	margin: 29px 0 40px 0;
}

.video_time {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	color: #c7b299;
}

.modile_device {
	background-color: #fbfaf8;
	display: flex;
	justify-content: center;
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

.image_left_hand {
	width: 423px;
	height: 616px;
	background-image: url(../img/iphone_in_hand.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin: 79px 0 0 0;
	
}

.modile_device_content {
	max-width: 660px;
	margin: 195px 0 0 0;
	display: flex;
	flex-direction: column;
}

.mobile_device_h1 {
	margin: 0;
	font-family: Raleway;
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	color: #555555r;
}

.modile_device_span {
	margin: 40px 0 45px 0;
	font-family: Montserrat;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
	text-align: inherit;
}

.modile_device_list {
	margin: 0 0 0 50px;
}

.modile_device_item {
	display: block;
	float: left;
	outline: none;
	background-image: url(../img/modile_device.png);
	width: 21px;
	height: 21px;
	margin: 0 0 12px 0;
	&::-webkit-details-marker {
		display: none;
	}
	&:last-child{
		margin: 0;
	}
}
.modile_device_span_item {
	margin-left: 29px;
	font-family: Montserrat;
	font-size: 16px;
	line-height: 18px;
	font-weight: 300;
	color: #8c8c8c;
}

.statistics {
	margin: 0;
	padding: 69px 0 60px 0;
	display: flex;
	justify-content: center;
	background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}

.statistics_item {
	width: 138px;
	margin-right: 73px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 56px 0 -52px @color;
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		box-shadow: 0 56px 0 -52px #c7b299;
		& .icon_statistics{
			fill: @color;
		}
		& .statistics_number{
			color: #c7b299;
		}
		& .statistics_name {
			color: @color;
		}
	}
	&:active {
		box-shadow: 0 56px 0 -52px  @color;
		& .icon_statistics{
			fill: #c7b299;
		}
		& .statistics_number{
			color:  @color;
		}
		& .statistics_name {
			color: #c7b299;
		}
	}
}
.icon_statistics {
	fill:#c7b299;
}
.statistics_number {
	margin: 30px 0 21px 0;
	font-family: Montserrat;
	font-size: 48px;
	line-height: 36px;
	font-weight: 200;
	color: @color;
}

.statistics_name {
	margin-bottom: 30px;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	text-transform: uppercase;
	color: #c7b299;
	text-align: center;
}

.recent_posts {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 80px 0;
}

.recent_posts_h1 {
	margin: 0;
	font-family: Raleway;
	font-size: 30px;
	line-height: 1.2;
	font-weight: 600;
	color: #555555;
}

.recent_post_p {
	margin: 30px 0 40px 0;
	font-family: Montserrat;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
	max-width: 757px;
	text-align: center;
}

.posts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 22px;
	grid-column-gap: 30px;
	grid-row-gap: 40px;
}

.posts_item {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	z-index: 3;
	&:hover {
		background-color: #362f2d;
		& .post_content {
			box-shadow: inset 0 0 0 2px #362f2d;
		}
		& .post_h1 {
			color: #c7b299;
		}
		& .post_p {
			color: @color;
		}
		& .post_image {
			display: flex;
			z-index: 2;
			background-color: #362f2d;
			opacity: 0.3;
		}
		& .date_number {
			z-index: 3;
			background-color: #c7b299;
		}
		& .date_month {
			z-index: 3;
			background-color: #a48d72;
		}
	}
	&:active {
		box-shadow: 0 0 5px 1px#000;
	} 
}

.post_content {
	margin: 0;
	display: flex;
	flex-direction: column;
	padding: 30px 0 33px 29px;
	box-sizing: border-box;
	box-shadow: inset 0 0 0 2px #f8f8f8;
}

.post_h1 {
	font-family: Raleway;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
	color: #555555;
}

.post_p {
	margin: 19px 0 27px 0;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	color: #8c8c8c;
	max-width: 297px;
}

.post_link {
	text-decoration: none;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #c7b299;
	&:hover {
		color: @color;
		.arrow {
			border-left: 4px solid @color;
		}
	}
	&:active {
		color: #c7b299;
		.arrow {
			border-left: 4px solid #c7b299;
		}
	}
}

.post_date {
	position: absolute;
	top: 20px;
	left: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.date_number {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 35px;
	background-color: #363636;
	border-radius: 3px 3px 0 0;
	font-family: Montserrat;
	font-size: 24px;
	line-height: 20px;
	font-weight: 300;
	color: @color;
}

.date_month {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 25px;
	border-radius: 0 0 3px 3px;
	background-color: #252525;
	font-family: Roboto;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	color: @color;
}

.arrow {
	display: inline-flex;
	border-top: 4px solid transparent;
	border-left: 4px solid #c7b299;
	border-bottom: 5px solid transparent;
	margin-left: 9px;
}

.post_page {
	grid-column-start: 2;
	text-align: center;
} 

.page_left{
	text-decoration: none;
}

.arrow_left_right {
	fill: #d1d1d1;
	&:hover {
		fill: #c7b299;
	}
	&:active {
		fill: #211b19;
	}
}

.partner {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 489px;
	background-image: url(../img/bg_photo_partner.png);
}

.partner_link {
	margin-right: 90px;
	&:last-child {
		margin-right: 0;
	}
}

.partner_link {
	&:hover {
		opacity: 0.3;
	}
	&:active {
		opacity: 1;
	}
}

// .data_website {
// 	margin: 0;
// 	padding: 80px 0 80px 0;
// 	background-color: #191919;
// 	display: flex;
// 	justify-content: center;
// }

// .about_waxon {
// 	display: flex;
// 	flex-direction: column;
// }

// .h1 {
// 	display: flex;
// 	align-items: center;
// }

// #logo_bottom {
// 	fill: @color;
// }

// .about_h1 {
// 	font-family: Raleway;
// 	font-size: 34px;
// 	line-height: 34px;
// 	font-weight: 400;
// 	color: @color;
// }

// .about_waxom_p {
// 	margin: 29px 0 33px 0;
// 	font-family: Montserrat;
// 	font-size: 14px;
// 	line-height: 24px;
// 	font-weight: 300;
// 	color: @color;
// 	max-width: 258px;
// }

// .about_link {
// 	text-decoration: none;
// 	font-family: Montserrat;
// 	font-size: 14px;
// 	line-height: 20px;
// 	font-weight: 400;
// 	color: #d1d1d1;
// }

// .about_arrow {
// 	display: inline-flex;
// 	border-top: 4px solid transparent;
// 	border-left: 4px solid @color;
// 	border-bottom: 5px solid transparent;
// 	margin-left: 9px;
// }

// .post_waxom {
// 	display: flex;
// 	flex-direction: column;
// }

// .post_h3 {

// }